header {
  background: #EEE;
  h1 {
    margin-left: 15px;
    float: left;
  }
  nav {
    float: right;
    margin: 15px;

    a {
      font-weight: bold;
    }

    span {
      color: #CCC;
    }
  }
  .clear { clear: both; }
}
