header {
  background: #EEE;
  nav {
    margin: 15px;

    a {
      font-weight: bold;

      &.title {
        color: lighten(#000, 30%);
        &:hover {
          color: #000;
        }
      }
    }

    span {
      color: #CCC;
    }
  }
}
