header {
  background: #EEE;
  nav {
    margin: 15px;

    a {
      font-weight: bold;

      &.title {
        color: lighten(#000, 30%);
        &:hover {
          color: #000;
        }
      }
    }

    span {
      color: #CCC;
    }
  }
}

section {
  min-height: 600px;
}

footer {
  nav.about-pages {
    float: right;
    text-align: right;

    a,span {
      font-size: 12px;
    }

    a {
      &:hover {
        color: darken(#2ba6cb, 20%);
      }
    }

    span {
      color: #CCC;
    }
  }
}
