header {
  background: #EEE;
  nav {
    margin: 15px;

    a {
      font-weight: bold;

      &.title {
        color: lighten(#000, 30%);
        &:hover {
          color: #000;
        }
      }
    }

    span {
      color: #CCC;
    }
  }

  form {
    display: inline;
    top: 4px;
    position: relative;

    input[type="text"], input[type="password"] {
      float: none;
      display: inline;
      font-size: 12px;
      width: 140px;
      height: 20px;
      margin: 0 10px 0 0;
    }

    button.tiny {
      bottom: 4px;
      position: relative;
      padding-bottom: 0.2em;
      padding-top: 0.4075em;
      padding-right: 0.875em;
    }
  }
}

section {
  min-height: 600px;
}

footer {
  nav.about-pages {
    float: right;
    text-align: right;

    a,span {
      font-size: 12px;
    }

    a {
      &:hover {
        color: darken(#2ba6cb, 20%);
      }
    }

    span {
      color: #CCC;
    }
  }
}
