.greeting {
  margin: 20px 0 20px 10px;
  font-size: 13px;
}
form.submit-link {
  margin-top: 25px;

  input[type="submit"] {
    float: right;
    font-size: 24px;
  }
}

dl.links {
  dt {
    font-size: 24px;

    a {
      position: relative;
      top: 2px;
      color: darken(#2ba6cb, 20%);

      &:hover { color: darken(#2ba6cb, 40%); }
    }

    .votes {
      font-size: 15px;
      color: #CCC;
      padding: 10px;
      //background: #EEE;
    }
  }
  dd {
    margin-left: 45px;

    a,span {
      font-size: 12px;
    }
    a { &:hover { color: darken(#2ba6cb, 20%); } }
    span { color: #CCC; }
  }
}


