.greeting {
  margin: 20px 0 20px 10px;
  font-size: 13px;
}
form.submit-link {
  margin-top: 25px;

  input[type="submit"] {
    float: right;
    font-size: 24px;
  }
}

dl.links {
  em {
    margin-left: 30px;
    font-size: 13px;
    color: #777;
  }
  dt {
    font-size: 24px;

    a {
      position: relative;
      top: 2px;
      color: darken(#2ba6cb, 20%);

      &:hover { color: darken(#2ba6cb, 40%); }
    }

    .votes {
      font-size: 15px;
      color: #CCC;
      padding: 10px;
      //background: #EEE;
    }
  }
  dd {
    margin-left: 45px;
    font-size: 12px;
    color: #CCC;

    a {
      &:hover { color: darken(#2ba6cb, 20%); }
    }

    strong {
      color: darken(#CCC, 20%);
      font-weight: normal;
    }
  }
}


